body {
  background-color: blue;
}

.circle {
  height: 250px;
  width: 250px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
}
